@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Let's read some emails!</h1>
    <p>This application reads emails from an Outlook email archive (a .pst file), analyses them and produces some nice graphs.</p>
</div>
<p>There are @Model.NumberOfExistingEmails emails already stored in the database.</p>
<ul>
   <li><a href="FileUpload">Upload more data</a></li>
   <li><a href="analysis">Analyse the data</a></li>
   <li><a href="delete/all">Delete the data</a></li>
</ul>
