@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Main Menu</h1>
</div>
<p>There are @Model.NumberOfExistingEmails emails stored in the database.</p>
<ul>
   <li><a href="upload">Upload more data</a></li>
   <li><a href="analysis">Analyse the data</a></li>
   <li><a href="delete/all">Delete the data</a></li>
</ul>
