@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>Raw data</h1>
</div>

<ul class="list-group">
    @foreach (var email in Model.AllEmails)
    {
        <li class="list-group-item">
            <ul>
                <li>@email.Sender</li>
                <li>
                    <ul>
                        @foreach (var recipient in email.Recipients)
                        {
                            <li>@recipient</li>
                        }
                    </ul>
                </li>
                <li>@email.Subject</li>
                <li>@email.Attachments</li>
            </ul>
        </li>
    }
</ul>